<!-- views/createanswer.ejs -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>Ask a Dunmanian</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <style>
        body        { padding-top:80px; }
    </style>
    <link rel="icon" href="/public/favicon.png">
</head>
<body>
<h1 class="text-center">Ask Your Question!</h1>
<div class="well text-center">
	<h3>Go Back to <a href="dqueries.herokuapp.com/home">Home</a></h3>
	<form id="createQuestion" method="post" action="/createQuestion">
  	<div class="form-group">
    	<label for="inputQuestion">Question:</label>
    	<input type="text" class="form-control" id="inputQuestion" placeholder="Enter Your Question" rows="4" required="required">
  	</div>
  	<button type="submit" name="submit" value="submit" class="btn btn-default">Submit</button>
	</form>
</div>
<script>
	$("#createQuestion").submit(function(event) {
		event.preventDefault();

		var question = $('#inputQuestion').val();

		$.ajax({
			url: '/createQuestion',
			type: 'POST',
			contentType: 'application/json',
			data: JSON.stringify({
			"question": question,
			"votes": 0,
			"answers": 0,
			})
		});
	});
</script>
</body>
</html>