<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>Ask a Dunmanian</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="//dqueries.herokuapp.com/stylesheet.css">
    <style>
        body        { padding-top:80px; }
    </style>
    <link rel="icon" href="/public/favicon.png">
</head>
<body>
	<div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#about">
                        DQueries
                    </a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/questions">Your Questions</a>
                </li>
                <li>
                    <a href="/answers">Your Answers</a>
                </li>
                <li>
                    <a href="/createquestion" class="btn btn-danger btn-lg">Ask A Question!</a>
                </li>
            </ul>
        </div>
    </div>

   <div	id="page-content-wrapper">
   		<
   </div>
</body>
</html>